.top {
  text-align: center;
  background: #8e9fbb;
  color: #ebf0f7; }
  .top__name {
    margin-top: 0;
    padding-top: 20px; }
  .top__color {
    padding-bottom: 20px;
    margin-bottom: 0; }

.navbar {
  background-color: #475069;
  padding: 10px 0 10px 0; }
  .navbar__button {
    color: #ebf0f7;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer; }
    .navbar__button:focus {
      outline: none;
      border: none; }
    .navbar__button:hover {
      background-color: #8e9fbb;
      color: #475069; }
    .navbar__button--new {
      float: left; }
    .navbar__button--level {
      float: right; }
    .navbar__button--active {
      background-color: #8e9fbb;
      color: #475069; }
  .navbar__text {
    color: white;
    vertical-align: -webkit-baseline-middle; }

.color {
  background-color: #393539; }
  .color__box {
    height: 100px;
    width: 100px;
    border: solid 2px white;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer; }
  .color__easy {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; }
  .color__hard {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center; }
  .color__hidden {
    animation: hiddenDiv 250ms ease-in-out both; }

@keyframes hiddenDiv {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
.body {
  margin: 0;
  background: #393539; }
  .body__container {
    padding: 0 30px;
    margin-bottom: 20px; }
  .body__size {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    height: 35px; }
