.navbar{
  background-color: #475069;
  padding: 10px 0 10px 0;

  &__button{
    color:#ebf0f7;
    background-color: transparent;
    border: none;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;

    &:focus{
      outline: none;
      border: none;
    }

    &--new{

    }

    &--easy{
      float: right;
    }

    &--hard{
      float: right;
    }

    &--active{
      background-color: #8e9fbb;
      color: #475069;
    }
  }
}